.card {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    border-radius: 4px;
    padding: 8px;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.buttons {
    display: flex;
    gap: 8px;
}

.dots_list {
    display: flex;
    gap: 4px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: cornflowerblue;
    border-radius: 50%;
    cursor: pointer;
}

.active_dot {
    width: 8px;
    height: 8px;
    background-color: chartreuse;
    border-radius: 50%;
    cursor: pointer;
}