.body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.cancel {
    cursor: pointer;
}

.card {
    width: 64px;
    height: 32px;
    background-color: white;
}

.wrap {
    display: flex;
    gap: 64px;
    justify-content: end;
}